{% extends 'layout.html' %}
{% block content %}
<div class="container">
    <div class="row">
        {% for product in products.items %}
        <div class="col-md-3">
            <div class="card">
                <img src="{{url_for('static', filename='images/' + product.image_1)}}" class="card-img-top" alt="{{product.name}}">
                <div class="card-body">
                    <h5 class="card-title">{{product.name}}</h5>
                    <p class="card-text">Giá: {{product.price | vnd}}</p>
                    <a href="#" class="btn btn-primary">Chi Tiết</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}