{% extends "base.html" %} {%block content%} {% include 'header.html' %}
<div id="page-content" class="single-page">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <ul class="breadcrumb">
          <li><a href="{{url_for('home')}}">Home</a></li>
          <li><a href="{{url_for('update_account')}}">Tài Khoản</a></li>
          {% if detail_customer %}
          <li><a href="{{url_for('update_account')}}">Thông Tin Cá Nhân</a></li>
          {% elif orders %}
          <li><a href="{{url_for('payment_history')}}">Đơn Hàng</a></li>
          {% elif detail_password_customer %}
          <li><a href="{{url_for('change_password')}}">Đổi Mật Khẩu</a></li>
          {% else %}
          <li><a href="{{url_for('get_all_category', page=1)}}">Tất cả</a></li>
          {% endif %}
        </ul>
      </div>
    </div>
    <div class="row">
      <div id="sidebar" class="col-md-4">
        <div class="widget wid-categories">
          <div class="heading"><h4>Điều hướng</h4></div>
          <div class="content">
            <ul>
              {% if detail_customer %}
              <li>
                <a href="{{url_for('update_account')}}" style="color: red"
                  >Tài Khoản</a
                >
              </li>
              {% else %}
              <li><a href="{{url_for('update_account')}}">Tài Khoản</a></li>
              {% endif %} {% if orders %}
              <li>
                <a href="{{url_for('payment_history')}}" style="color: red"
                  >Đơn Hàng</a
                >
              </li>
              {% else %}
              <li><a href="{{url_for('payment_history')}}">Đơn Hàng</a></li>
              {% endif %} {% if detail_password_customer %}
              <li>
                <a href="{{url_for('change_password')}}" style="color: red"
                  >Đổi Mật Khẩu</a
                >
              </li>
              {% else %}
              <li><a href="{{url_for('change_password')}}">Đổi Mật Khẩu</a></li>
              {% endif %}

              <li><a href="{{url_for('customer_logout')}}">Đăng Xuất</a></li>
            </ul>
          </div>
        </div>
      </div>

      <div id="main-content" class="col-md-8">
        <div class="widget wid-categories">
          <!-- My Account-->
          {% if detail_customer %}
          <div class="heading"><h4>Thông tin tài khoản</h4></div>
          <div class="content">
            {% include '_messages.html' %}
            <form method="post" action="">
              <div class="form-group">
                <span> Tài Khoản: </span>
                <input
                  type="text"
                  class="form-control"
                  name="username"
                  id="username"
                  value="{{detail_customer.username}}"
                  readonly
                />
              </div>
              <div class="form-group">
                <span> Họ: </span>
                <input
                  type="text"
                  class="form-control"
                  name="firstname"
                  id="firstname"
                  value="{{detail_customer.first_name}}"
                  required
                />
              </div>
              <div class="form-group">
                <span> Tên: </span>
                <input
                  type="text"
                  class="form-control"
                  name="lastname"
                  id="lastname"
                  value="{{detail_customer.last_name}}"
                  required
                />
              </div>
              <div class="form-group">
                <span> Email: </span>
                <input
                  type="email"
                  class="form-control"
                  name="email"
                  id="email"
                  value="{{detail_customer.email}}"
                  required
                />
              </div>
              <div class="form-group">
                <span> Số điện thoại: </span>
                <input
                  type="tel"
                  class="form-control"
                  name="phone"
                  id="phone"
                  value="{{detail_customer.phone_number}}"
                  required
                />
              </div>
              <div class="form-group">
                <span> Giới Tính: </span>
                {% if detail_customer.gender=="M" %}
                <input name="gender" type="radio" checked="checked" value="M" />
                Nam <input name="gender" type="radio" value="F" /> Nữ {%
                else %} <input name="gender" type="radio" value="M" /> Nam
                <input name="gender" type="radio" checked="checked" value="F" />
                Nữ {% endif %}
              </div>
              <button
                type="submit"
                class="btn btn-info"
                style="padding: 5px 26px; background-color: #e51534"
              >
                Thay Đổi
              </button>
            </form>
          </div>
          {% endif %} {% if orders %}
          <div class="heading"><h4>Lịch Sử Đơn Hàng</h4></div>
          <div class="content">
            <table class="table table-sm">
              <thead>
                <th>Ngày Đặt</th>
                <th>Sản Phẩm</th>
                <th>Số Lượng</th>
                <th>Tổng Tiền</th>
                <th>Trạng Thái</th>
              </thead>
              <tbody>
                {% for order in orders %} {% set order_data =
                get_order_data(order) %} {% for key, product in
                order_data.items() %} {% set discount =(product.discount/100) *
                product.price |float %} {% set subtotal = product.quantity|int *
                product.price|float %}
                <tr>
                  <td>{{order.date_created}}</td>
                  <td>{{product.name}}</td>
                  <td>{{product.quantity}}</td>
                  <td>{{(subtotal - discount|round(1,'floor')) | vnd}}</td>
                  {% if order.status == "Đang xác nhận" %}
                  <td><p style="color: #6c757d">{{order.status}}</p></td>
                  {% elif order.status == "Đang giao" %}
                  <td><p style="color: #17a2b8">{{order.status}}</p></td>
                  {% elif order.status == "Đã giao" %}
                  <td><p style="color: #007bff">{{order.status}}</p></td>
                  {% elif order.status == "Hủy đơn" %}
                  <td><p style="color: #dc3545">{{order.status}}</p></td>
                  {% else %}
                  <td><p style="color: #6c757d">{{order.status}}</p></td>
                  {% endif %}
                </tr>
                {% endfor %} {% endfor %}
              </tbody>
            </table>
          </div>
          {% endif %} {% if detail_password_customer %}
          <div class="heading"><h4>Đổi Mật Khẩu</h4></div>
          <div class="content">
            {% include '_messages.html' %}
            <form method="post" action="">
              <div class="form-group">
                <span> Mật khẩu cũ: </span>
                <input
                  type="password"
                  class="form-control"
                  name="oldpassword"
                  required
                />
              </div>
              <div class="form-group">
                <span> Mật khẩu mới: </span>
                <input
                  type="password"
                  class="form-control"
                  name="newpassword"
                  id="newpassword"
                  required
                />
              </div>
              <div class="form-group">
                <span> Nhập lại mật khẩu mới: </span>
                <input
                  type="password"
                  class="form-control"
                  name="renewpassword"
                  id="renewpassword"
                  onkeyup="check();"
                  required
                />
                <span id="message"></span>
              </div>
              <button
                type="submit"
                class="btn btn-info"
                style="padding: 5px 26px; background-color: #e51534"
                onclick="return Validate()"
              >
                Thay Đổi
              </button>
            </form>
          </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
{% include 'footer.html' %}
<script>
  var check = function () {
    if (
      document.getElementById("newpassword").value ==
      document.getElementById("renewpassword").value
    ) {
      document.getElementById("message").style.color = "green";
      document.getElementById("message").innerHTML = "Match Password";
    } else {
      document.getElementById("message").style.color = "red";
      document.getElementById("message").innerHTML = "Not Matching Password";
    }
  };
  function Validate() {
    var password = document.getElementById("newpassword").value;
    var confirmPassword = document.getElementById("renewpassword").value;
    if (password != confirmPassword) {
      document.getElementById("message").style.color = "red";
      document.getElementById("message").innerHTML = "Not Matching Password";
      return false;
    }
    return true;
  }
</script>
{% endblock content%}
